.chat {
  height: calc(100vh - 83px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 35px 24px;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  height: 35px;
  background-color: #0d0d0d;
}

.message {
  position: relative;
  width: fit-content;
  padding: 8px 81px 25px 15px;
  margin-bottom: 17px;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  box-shadow: 12px 26px 50px rgba(90, 108, 234, 0.07);
  border-radius: 15px;
  cursor: pointer;
}

.content {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.8);
}

.time {
  position: absolute;
  bottom: 9px;
  right: 15px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar {
  width: 0px;
}
