.form {
  position: relative;
  margin: 0 10px 10px;
}

.form input {
  width: 100%;
  padding: 26px 16px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  box-sizing: border-box;
  box-shadow: 12px 26px 50px rgba(90, 108, 234, 0.07);
  border-radius: 15px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.8);
}

.form button {
  position: absolute;
  top: 29px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url(../assets/icons/ButtonIcon.svg) center center no-repeat;
}
